<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <connectionStrings>
    <add name="LearnEFEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SE\SQLExpress;initial catalog=LearnEF;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LearnEFEntities1" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SE\SQLExpress;initial catalog=LearnEF;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <system.webServer>
	  <defaultDocument enabled="true">
            <files>
                 <clear />
                <add value="SearchBook.aspx" />
            </files>
        </defaultDocument>

        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
